{% extends 'base.html.twig' %}

{% block body %}
    {{ include('user/baseUser.html.twig') }}
    <ul>
        <li>
            <a href="{{ path('utilisateur_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}