{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="white-box">
                <h3 class="box-title">Example: Stacked-to-horizontal</h3>
                <p></p>
                <div class="row show-grid">
                    <div class="col-md-1">Années</div>
                    <div class="col-md-4">Rapport d'inspection opérateur</div>
                    <div class="col-md-1">Numéro</div>
                    <div class="col-md-1"> </div>
                </div>
                <div class="row show-grid">
                    <div class="col-md-8">Ministère de l'agriculture</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row show-grid">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row show-grid">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}